<mat-card>
  <section>
    <mat-card-actions class="action-buttons">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput
               (keyup)="genericGrid.onSearchOfFilter($event)"
               placeholder="Ex. ium">
      </mat-form-field>
      <mat-radio-group [(ngModel)]="customerSearchRequest.customerType"
                       (ngModelChange)="makeSearchCustomerCall()">
        <mat-radio-button value="GST">
          {{CustomerType.GST}}
        </mat-radio-button>
        <mat-radio-button value="NON_GST">
          {{CustomerType.NON_GST}}
        </mat-radio-button>
        <mat-radio-button value="BOTH">
          {{CustomerType.BOTH}}
        </mat-radio-button>
      </mat-radio-group>
      <button mat-raised-button
              color="primary"
              (click)="openCustomerRegistrationDialog();">
        Add Customer
        <mat-icon matSuffix>
          add
        </mat-icon>
      </button>
    </mat-card-actions>
  </section>
  <mat-card-content>
    <app-generic-grid [gridConfig]="customerGridConfig"
                      [dataSource]='customersList'>
    </app-generic-grid>
  </mat-card-content>

</mat-card>
