<!-- #region Form : single product -->
<form [formGroup]="singleProductForm"
      class="flex"
      (ngSubmit)="onSubmit()">

  <!-- #region Card -->
  <mat-card>

    <!-- #region Grid List: Form fields -->
    <mat-grid-list cols="6">

      <!-- #region Form Prefix: SL.NO  -->
      <span matPrefix>{{slNo}}. </span>
      <!-- #endregion -->

      <!-- #region Form Field: Description -->
      <mat-form-field>
        <input matInput
               placeholder="Description"
               formControlName="description"
               [matAutocomplete]="autoCompleteForDescription"
               required>
        <mat-error *ngIf="singleProductForm.controls['description'].hasError('required')">
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- #region Form Field: AutoComplete Options -->
      <mat-autocomplete #autoCompleteForDescription="matAutocomplete">
        <mat-option *ngFor="let description of descriptions"
                    [value]="description">
          {{ description }}
        </mat-option>
      </mat-autocomplete>
      <!-- #endregion -->
      <!-- #endregion -->

      <!-- #region Form Field: HSN -->
      <mat-form-field>
        <input matInput
               placeholder="HSN"
               formControlName="hsnCode"
               required>
        <mat-error *ngIf="singleProductForm.controls['hsnCode'].hasError('required')">
          HSN is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- #endregion -->

      <!-- #region Form Field: Quantity -->
      <mat-form-field>
        <input matInput
               placeholder="Quantity"
               type="number"
               min="0"
               formControlName="quantity"
               required>
        <mat-error *ngIf="singleProductForm.controls['quantity'].hasError('required')">
          Quantity is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- #endregion -->

      <!-- #region Form Field: GST Percentage -->
      <mat-form-field>
        <mat-select placeholder="GST Percentage"
                    formControlName="taxPercentage"
                    required>
          <mat-option *ngFor="let gstPercentage of taxPercentages"
                      [value]="gstPercentage">
            {{ gstPercentage }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="singleProductForm.controls['taxPercentage'].hasError('required')">
          GST Percentage is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- #endregion -->

      <!-- #region Form Field: Per Value -->
      <mat-form-field>
        <mat-select placeholder="Per Value"
                    formControlName="perValue"
                    required>
          <mat-option *ngFor="let perValue of perValues"
                      [value]="perValue">
            {{ perValue }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="singleProductForm.controls['perValue'].hasError('required')">
          GST Percentage is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- #endregion -->

      <!-- #region Form Field: Rate -->
      <mat-form-field>
        <input matInput
               placeholder="Rate"
               type="number"
               min="0"
               formControlName="rate"
               required>
        <mat-error *ngIf="singleProductForm.controls['rate'].hasError('required')">
          Rate is <strong>required</strong>
        </mat-error>
        <span matSuffix>$&nbsp;</span>
      </mat-form-field>
      <!-- #endregion -->

      <!-- #region Form Field: Discount -->
      <mat-form-field>
        <input matInput
               placeholder="Discount"
               type="number"
               min="0"
               max="100"
               formControlName="discount">
        <span matSuffix>%&nbsp;</span>
      </mat-form-field>
      <!-- #endregion -->

      <!-- #region Button: delete -->
      <button mat-icon-button
              type="button"
              (click)="onClickOfDelete();">
        <mat-icon>delete</mat-icon>
      </button>
      <!-- #endregion -->
      <!-- #region Button: delete -->
      <button mat-icon-button
              type="button"
              (click)="onClickOfReset();">
        <mat-icon>refresh</mat-icon>
      </button>
      <!-- #endregion -->
      <!-- #region Form Field: CheckBox -->
      <mat-checkbox formControlName="checkBox"
                    (change)="clickOfCheckBox.emit()">
      </mat-checkbox>
      <!-- #endregion -->

    </mat-grid-list>
    <!-- #endregion -->
  </mat-card>
  <!-- #endregion -->
</form>
<!-- #endregion -->
