<h1 mat-dialog-title>Customer Save</h1>
<div mat-dialog-content>
  <form class="form"
        [formGroup]="customerForm"
        (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input matInput
             placeholder="Name"
             formControlName="name"
             required>
      <mat-error *ngIf="customerForm.controls['name'].hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="Phone Number"
             formControlName="phoneNumber">
      <mat-error *ngIf="customerForm.controls['phoneNumber'].hasError('required')">
        Phone Number is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-slide-toggle (change)="onGSTToggle()">
      GST-Customer
    </mat-slide-toggle>
    <mat-form-field>
      <input matInput
             placeholder="GST-IN Number"
             formControlName="gstNo"
             [appDisableControl]="customerTypeControl.value === 'NON_GST'">
      <mat-error *ngIf="customerForm.controls['gstNo'].hasError('required')">
        GST-IN Number is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="Address Line 1"
             formControlName="street">
      <mat-error *ngIf="customerForm.controls['street'].hasError('required')">
        Address Line 1 is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="City"
             formControlName="city">
      <mat-error *ngIf="customerForm.controls['city'].hasError('required')">
        City is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="State"
             formControlName="state">
      <mat-error *ngIf="customerForm.controls['state'].hasError('required')">
        State is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="ZIP Code"
             formControlName="zipCode">
      <mat-error *ngIf="customerForm.controls['zipCode'].hasError('required')">
        ZIP Code is <strong>required</strong>
      </mat-error>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button
          [mat-dialog-close]="false">No</button>
  <button mat-button
          color="primary"
          (click)="onSubmit()"
          cdkFocusInitial>Ok</button>
</div>
