mat-form-field {
  margin: 10px;
}

.alignment {
  text-align: center;
}

form {
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: max-content;
  width: -webkit-fill-available;
  align-self: center;
}
