<div class="over-all">
  <mat-form-field>
    <input matInput
           type="text"
           [placeholder]="config.displayVariableName"
           [(ngModel)]="inputValue"
           (ngModelChange)="changeOnInputTextM()">
    <button mat-icon-button
            matSuffix
            (click)="emit()">
      <mat-icon>done</mat-icon>
    </button>
  </mat-form-field>
  <ul *ngIf="list.length !==0 "
      class="ul">
    <button mat-flat-button
            *ngFor="let item of list"
            class="button"
            (click)="onClickOfItem(item)">
      {{item[config.displayVariableName]}}
    </button>
  </ul>
</div>
