.main-container {
  display: inline-block;
  width: -webkit-fill-available;
  margin: 10px;
  padding: 10px;
}

.action-buttons {
  text-align: right;
  margin-top: 4px;
}

.product-list {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  width: -webkit-fill-available;
}

.submit-button {
  text-align: right;
  margin-top: 4px;
  margin-bottom: 4px;
}

.new-bill {
  text-align: center;
}

.scroll-viewport {
  height: 400px;
}

.mat-error {
  margin: 10px;
  text-align: center;
}
