<!--new bill div-->
<div class="container">

  <!-- #region top layout -->
  <mat-grid-list cols="2" rowHeight="75">
    <!-- #region customer name and total amount -->
    <mat-grid-tile>
      <div>
        <p>Customer Name : <strong>{{customerName}}</strong></p>
        <p>Total Amount : <strong>{{totalAmount}}</strong></p>
      </div>
    </mat-grid-tile>
    <!-- #endregion -->

    <mat-grid-tile>
      <mat-form-field>
        <input matInput [matDatepicker]="manualDatePicker" placeholder="Manual Date">
        <mat-datepicker-toggle matSuffix [for]="manualDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #manualDatePicker></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- #endregion -->

  <!-- #region product list -->
  <div *ngFor="let product of products;let i=index;">
    <app-single-product [product]="product" [slNo]="i+1">
    </app-single-product>
  </div>
  <!-- #endregion -->

  <!-- #region add and delete buttons -->
  <button mat-mini-fab matTooltip="Add Product" (click)="onClickOfAddProductButton();">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-mini-fab matTooltip="Delete selected product(s)" (click)="onClickOfOverallDeleteButton();">
    <mat-icon>delete</mat-icon>
  </button>
  <!-- #endregion -->
</div>
