<!-- #region new bill div-->
<div class="new-bill">

  <!-- #region top layout -->
  <mat-grid-list cols="2" rowHeight="75">

    <!-- #region customer name and total amount -->
    <mat-grid-tile>
      <div>
        <p>Customer Name : <strong>{{customerName}}</strong></p>
        <p>Total Amount : <strong>{{totalAmount}}</strong></p>
      </div>
    </mat-grid-tile>
    <!-- #endregion -->

    <!-- #region date picker -->
    <mat-grid-tile>
      <mat-form-field>
        <input matInput [matDatepicker]="manualDatePicker" placeholder="Manual Date">
        <mat-datepicker-toggle matSuffix [for]="manualDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #manualDatePicker></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <!-- #endregion -->

  </mat-grid-list>
  <!-- #endregion -->

  <!-- #region middle layout -->
  <mat-card class="main-container">

    <!-- #region add and delete buttons -->
    <mat-card-actions class="action-buttons">
      <button mat-icon-button matTooltip="Add Product" (click)="onClickOfAddProductButton();">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Delete Selected Product(s)" (click)="onClickOfOverallDeleteButton();">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
    <!-- #endregion -->

    <!-- #region product list -->
    <mat-card-content>
      <cdk-virtual-scroll-viewport class="scroll-viewport" itemSize="50px">
        <app-single-product class="product-list" *ngFor="let product of products;let i=index;" [(product)]="product"
          [slNo]="i+1">
        </app-single-product>
      </cdk-virtual-scroll-viewport>
    </mat-card-content>
    <!-- #endregion -->

    <!-- #region Submit Button -->
    <mat-card-actions>
      <div class="submit-button">
        <button matTooltip="Submit Bill" (click)="onSubmit();">
          Submit
        </button>
      </div>
    </mat-card-actions>
    <!-- #endregion -->

  </mat-card>
  <!-- #endregion -->

</div>
<!-- #endregion -->
