<!-- #region new bill div-->
<div class="new-bill"
     [formGroup]="billForm">

  <!-- #region middle layout -->
  <mat-card class="main-container">
    <!-- #region top layout -->
    <mat-grid-list cols="2"
                   rowHeight="75px">

      <!-- #region customer name and total amount -->
      <mat-grid-tile>
        <div>
          <p>Customer Name : <strong>{{customerName}}</strong></p>
          <p>Total Amount : <strong>{{totalAmount}}</strong></p>
        </div>
      </mat-grid-tile>
      <!-- #endregion -->

      <!-- #region date picker -->
      <mat-grid-tile>
        <mat-form-field>
          <input matInput
                 [matDatepicker]="manualDatePicker"
                 placeholder="Manual Date">
          <mat-datepicker-toggle matSuffix
                                 [for]="manualDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #manualDatePicker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <!-- #endregion -->

    </mat-grid-list>
    <!-- #endregion -->

    <mat-divider></mat-divider>

    <!-- #region add and delete buttons -->
    <mat-card-actions class="action-buttons">
      <button mat-icon-button
              [matTooltip]="getDeleteProductButtonTooltip()"
              [matBadge]="getTotalCount"
              matBadgeSize="small"
              [disabled]="isAddButtonDisable()"
              (click)="onClickOfAddProductButton();">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button
              [matTooltip]="getDeleteSelectedProductButtonTooltip()"
              [matBadge]="getSelectedCount"
              matBadgeSize="small"
              [disabled]="isDeleteButtonDisable()"
              (click)="onClickOfOverallDeleteButton();">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button
              [matTooltip]="getDeleteSelectedProductButtonTooltip()"
              [disabled]="isSubmitAndSelectAllButtonDisable()"
              (click)="onClickOfOverAllSelectButton();">
        <mat-icon>{{checkBoxMatIcon}}</mat-icon>
      </button>
    </mat-card-actions>
    <!-- #endregion -->

    <mat-divider></mat-divider>

    <!-- #region product list -->
    <mat-card-content>
      <cdk-virtual-scroll-viewport class="scroll-viewport"
                                   itemSize="50px">
        <app-single-product formArrayName="products"
                            class="product-list"
                            (deleteFunction)="onClickOfIndividualDeleteButton($event);"
                            (clickOfCheckBox)="onClickOfIndividualSelectButton()"
                            *ngFor="let product of products.controls;let i=index;"
                            [(singleProductForm)]="product"
                            [slNo]="i+1">
        </app-single-product>
      </cdk-virtual-scroll-viewport>
    </mat-card-content>
    <mat-error *ngIf="products.length===0;"
               class="mat-error">
      Click on the Add button to Add a product
    </mat-error>
    <!-- #endregion -->

    <mat-divider></mat-divider>

    <!-- #region Submit Button -->
    <mat-card-actions>
      <div class="submit-button">
        <button mat-raised-button
                [disabled]="isSubmitAndSelectAllButtonDisable()"
                color="primary"
                matTooltip="Submit Bill"
                (click)="onSubmit();">
          Submit
        </button>
      </div>
    </mat-card-actions>
    <!-- #endregion -->

  </mat-card>
  <!-- #endregion -->

</div>
<!-- #endregion -->
