.main-container {
  display: inline-block;
  width: -webkit-fill-available;
  margin: 10px;
  padding: 10px;
}

.action-buttons {
  text-align: right;
  margin-top: 4px;
}

.product-list {
  display: inline-block;
  margin: 2px;
  padding: 2px;
  width: -webkit-fill-available;
}

.new-bill {
  text-align: center;
}

.mat-error {
  margin: 10px;
  text-align: center;
}
