<mat-card>
  <section>
    <mat-card-actions class="action-buttons">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput
               (keyup)="genericGrid.onSearchOfFilter($event)"
               placeholder="Search">
      </mat-form-field>
      <mat-radio-group [(ngModel)]="customerSearchRequest.customerType"
                       (ngModelChange)="makeSearchCustomerCall()">
        <mat-radio-button [value]="CustomerType.GST">
          {{CustomerType.GST}}
        </mat-radio-button>
        <mat-radio-button [value]="CustomerType.NON_GST">
          {{CustomerType.NON_GST}}
        </mat-radio-button>
        <mat-radio-button [value]="CustomerType.BOTH">
          {{CustomerType.BOTH}}
        </mat-radio-button>
      </mat-radio-group>
      <button mat-mini-fab
              color="primary"
              (click)="openCustomerRegistrationDialog();">
        <mat-icon matSuffix>
          add
        </mat-icon>
      </button>
    </mat-card-actions>
  </section>
  <mat-card-content>
    <app-mat-generic-grid [gridConfig]="customerGridConfig"
                      [dataSource]='genericMatTabaleDataSource'>
    </app-mat-generic-grid>
  </mat-card-content>

</mat-card>
