<div>

  <div class="container">
    <table mat-table
           [dataSource]="dataSource">

      <caption></caption>

      <ng-container [matColumnDef]="column.accessVariableName"
                    *ngFor="let column of gridConfig.columns;">

        <th mat-header-cell
            *matHeaderCellDef
            scope="col">
          {{column.columnDisplayName}}
        </th>

        <td mat-cell
            *matCellDef="let element">
          <div [ngSwitch]="column.type">
            <span *ngSwitchCase="'text'">
              {{element[column.accessVariableName]}}
            </span>
            <span *ngSwitchCase="'icon_button'">
              <button mat-icon-button
                      (click)="onClickOfIconButton(element)">
                <mat-icon>
                  {{column.icon}}
                </mat-icon>
              </button>
            </span>
          </div>
        </td>

      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="displayedColumns;sticky: true"></tr>

      <tr mat-row
          *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
  </div>

  <mat-paginator [hidden]="gridConfig.isPaginationRequired"
                 [pageSizeOptions]="gridConfig.paginationOptions"></mat-paginator>

</div>
