<mat-toolbar *ngIf="isLoggedIn"
             color="primary">

  <mat-toolbar-row class="container">
    <div>
      <a mat-button
         routerLink="/bill-panel"
         routerLinkActive="active-link">Bill panel</a>
      <a mat-button
         routerLink="/customer-panel"
         routerLinkActive="active-link">Customer panel</a>
      <a *ngIf="isAdmin" mat-button
         routerLink="/user-panel"
         routerLinkActive="active-link">User panel</a>
    </div>
    <div>
      <a mat-button
         routerLink="/login"
         routerLinkActive="active-link"
         (click)="logout()">Log Out</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
