<mat-card>
  <section>
    <mat-card-actions class="action-buttons">
      <mat-radio-group [(ngModel)]="userSearchRequest.userRole"
                       (ngModelChange)="makeSearchUserCall()">
        <mat-radio-button [value]="UserRole.ADMIN">
          {{UserRole.ADMIN}}
        </mat-radio-button>
        <mat-radio-button [value]="UserRole.EMPLOYEE">
          {{UserRole.EMPLOYEE}}
        </mat-radio-button>
        <mat-radio-button [value]="UserRole.EMPLOYEE">
          {{UserRole.BOTH}}
        </mat-radio-button>
      </mat-radio-group>
      <button mat-mini-fab
              color="primary"
              (click)="openUserRegistrationDialog();">
        <mat-icon matSuffix>
          add
        </mat-icon>
      </button>
    </mat-card-actions>
  </section>
  <mat-card-content>
    <app-mat-generic-grid [gridConfig]="userGridConfig"
                      [dataSource]='genericMatTabaleDataSource'>
    </app-mat-generic-grid>
  </mat-card-content>
</mat-card>
