<!-- #region -->
<div>
  <!-- #region Heading Section -->
  <div class="row">
    <!-- #region Icon -->
    <div>
      {{store.icon}}
    </div>
    <!-- #endregion -->
    <div>
      <h5>
        {{store.description}}
      </h5>
      <h4>
        {{store.name}}
      </h4>
      <h6>
        {{store.street}}
      </h6>

      <h6>
        {{store.city }}. PH : {{store.phoneNumber}}
      </h6>
      <h6>
        GSTIN : {{store.gstIn}}
      </h6>

    </div>
  </div>
  <!-- #endregion -->
  <!-- #region Invoice and Address Details Section -->
  <div>
  </div>
  <!-- #endregion -->
  <!-- #region Product List  Section -->
  <div>
  </div>
  <!-- #endregion -->
  <!-- #region Total Amount Section -->
  <div>
  </div>
  <!-- #endregion -->
  <!-- #region Footer Section -->
  <div>
  </div>
  <!-- #endregion -->
</div>
<!-- #endregion -->
